* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  background-color: #d16344;
  height: 100vh;
}

header {
  height: 60px;
  background-color: #f1e8b4;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px;
}

.nav-item {
  background-color: #d7bf5e;
  color: #83555e;
  font-size: 16px;
  border-radius: 15px;
  font-weight: bold;
  margin: 5px;
}

.nav-link {
  text-decoration: none;
  color: currentColor;
}

.nav-link:hover {
  color: #83555e;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.imagem-cadastro {
  width: 450px;
}

form {
  margin-left: 50px;
}

label {
  font-weight: bold;
  color: #f1e8b4;
}

.form-control {
  width: 500px;
  border: 3px solid #d7bf5e;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #f1e8b4;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  color: #f1e8b4;
}

.btn-login {
  background-color: #f1e8b4;
  color: #83555e;
  font-size: 17px;
  border-radius: 15px;
  font-weight: bold;
  width: 140px;
  height: 50px;
  margin: 10px 0 10px 0;
}

.btn-cadastro {
  background-color: #f1e8b4;
  color: #83555e;
  font-size: 17px;
  border-radius: 15px;
  font-weight: bold;
  width: 140px;
  height: 50px;
  margin-top: 10px;
}

.alert {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-size: 30px;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

